<div class="flex gap-x-4">

  <div>
    <app-student-header-mentors></app-student-header-mentors>
  </div>

  <mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="center" class="w-full">
    <mat-tab label="Monthly Mentor Reports">
      <app-mentor-reports></app-mentor-reports>
    </mat-tab>
    <mat-tab label="Quarterly Student Reports">
      <student-self-report-container showOnlyIfStatusIsSent="true"></student-self-report-container>
    </mat-tab>
  </mat-tab-group>
  <!-- <div class="flex flex-wrap border-b space-x-4">
      <button
        class="py-2 px-4 border-b-2"
        [ngClass]="{
          'border-blue-500 text-blue-500 font-semibold': twcss_activeTab === 'monthly',
          'border-transparent text-gray-500 hover:text-blue-500': twcss_activeTab !== 'monthly'
        }"
        (click)="twcss_activeTab = 'monthly'">
        Monthly Mentor Reports
      </button>

      <button
        class="py-2 px-4 border-b-2"
        [ngClass]="{
          'border-blue-500 text-blue-500 font-semibold': twcss_activeTab === 'quarterly',
          'border-transparent text-gray-500 hover:text-blue-500': twcss_activeTab !== 'quarterly'
        }"
        (click)="twcss_activeTab = 'quarterly'">
        Quarterly Student Reports
      </button>
    </div>

    <div>
      <div *ngIf="twcss_activeTab === 'monthly'">
        <app-mentor-reports></app-mentor-reports>
      </div>
      <div *ngIf="twcss_activeTab === 'quarterly'">
        <student-self-report-container showOnlyIfStatusIsSent="true"></student-self-report-container>
      </div>
    </div> -->
</div>