<!-- <style>
  ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #DDDDDD;
}

li {
float: left;
padding-right: 10px;
padding-bottom: 2px;
}
</style>

<ul>
  <li>Totals per category: </li>
  @for (statusCount of statusCounts; track statusCount) {
    <li>{{statusCount.reviewedStatus}}: {{statusCount.statusCount}}</li>
  }
</ul> -->

@if(statusCounts){
<div class="flex flex-col gap-y-2 items-start w-full rounded-md">
  <!-- <h4 class="font-medium text-secondary">Totals per category</h4> -->
  <div class="flex gap-x-2">
    @for (statusCount of statusCounts | orderstatus; track statusCount) {
    <div class="p-2 rounded-2xl flex gap-x-2 items-center w-40"
      [ngClass]="statusCount.reviewedStatus == 'COPIED_TO_QR' ? 'bg-blue-100 text-blue-600' : statusCount.reviewedStatus == 'READY_FOR_QR' ? 'bg-green-100 text-green-600' : statusCount.reviewedStatus == 'NEEDS_REVIEW' ? 'bg-orange-100 text-orange-600' : statusCount.reviewedStatus == 'ON_HOLD' ? 'bg-yellow-100 text-yellow-600' : 'bg-gray-100 text-gray-600'">
      @if(statusCount.reviewedStatus == 'COPIED_TO_QR') {
      <div class="bg-gradient-to-br from-blue-600 to-sky-600 size-9 rounded-lg grid place-content-center">
        <hugeicons-icon [icon]="DocumentValidationFreeIcons" [size]="24" color="#fff"
          [strokeWidth]="1.5"></hugeicons-icon>
      </div>
      } @else if(statusCount.reviewedStatus == 'READY_FOR_QR'){
      <div class="bg-gradient-to-br from-emerald-600 to-green-600 size-9 rounded-lg grid place-content-center">
        <hugeicons-icon [icon]="Rocket01FreeIcons" [size]="24" color="#fff " [strokeWidth]="1.5"></hugeicons-icon>
      </div>
      } @else if (statusCount.reviewedStatus == 'NEEDS_REVIEW') {
      <div class="bg-gradient-to-br from-orange-600 to-amber-600 size-9 rounded-lg grid place-content-center">
        <hugeicons-icon [icon]="Alert02FreeIcons" [size]="24" color="#fff" [strokeWidth]="1.5"></hugeicons-icon>
      </div>
      } @else if (statusCount.reviewedStatus == 'ON_HOLD') {
      <div class="bg-gradient-to-br from-yellow-600 to-amber-600 size-9 rounded-lg grid place-content-center">
        <hugeicons-icon [icon]="Hold01FreeIcons" [size]="24" color="#fff " [strokeWidth]="1.5"></hugeicons-icon>
      </div>
      } @else {}
      <div class="flex flex-col">
        <span class="text-sm">{{ statusCount.reviewedStatus | remove:'_'}}</span>
        <span class="text-2xl font-medium leading-5">{{statusCount.statusCount}}</span>
      </div>
    </div>
    }
  </div>
</div>
}