<div>
  <table mat-table [dataSource]="dataSource" matSort class="ja-bg-white p-4 rounded-xl">

    <!-- <ng-container matColumnDef="index">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>  </th>
            <td mat-cell *matCellDef="let univ; let i = index"> {{ (paginator?.pageSize * paginator?.pageIndex) + (i + 1) }} </td>
          </ng-container> -->

    <ng-container matColumnDef="studentName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Student </th>
      <td mat-cell *matCellDef="let request">
        <div class="flex gap-x-2 items-center cursor-pointer">
          <img [src]="'https://privada.jovenesadelante.org/' + request?.photoUrl.substring(9)" alt=""
            class="h-10 rounded-md duration-300 student-photo">
          <span (click)="gotoStudent(request.studentGUId)"
            class="text-primary font-medium !capitalize hover:underline duration-300">
            {{ request?.studentName }}
            <br class="h-0">
            <span class="text-slate-500 !text-xs">{{ request?.major }} | {{request?.universityAbbrev}}</span>
          </span>
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Subject </th>
      <td mat-cell *matCellDef="let request">
        @if(spanish) {
        {{ request.subject_Spanish }}
        } @else {
        {{ request.subject_English }}
        }
      </td>
    </ng-container>

    <ng-container matColumnDef="requester_assigned">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> From-To </th>
      <td mat-cell *matCellDef="let request">
        <div class="flex gap-x-1 items-center text-[#187ca8]">
          {{ request.requesterName }}
          <hugeicons-icon [icon]="ArrowRight04FreeIcons" [size]="24" color="#187ca8"
            [strokeWidth]="1.5"></hugeicons-icon>
          {{request?.assignedToName }}
        </div>

      </td>
    </ng-container>

    <ng-container matColumnDef="requestSubStatus">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> SubStatus </th>
      <td mat-cell *matCellDef="let request">
        <div class="mr-auto">
          @switch(request?.requestStatusId) {
          @case (2092) {
          <div class="bg-blue-600/10 text-blue-600 rounded-lg p-2 flex gap-x-2 items-center">
            <hugeicons-icon [icon]="SquareUnlock01FreeIcons" [size]="24" color="#2563eb"
              [strokeWidth]="1.5"></hugeicons-icon>
            {{request?.requestSubStatus}}
          </div>
          } @case (2104) {
          <div class="bg-red-600/10 text-red-600 rounded-lg p-2 flex gap-x-2 items-center">
            <hugeicons-icon [icon]="SquareLock01FreeIcons" [size]="24" color="#dc2626"
              [strokeWidth]="1.5"></hugeicons-icon>
            {{request?.requestSubStatus}}
          </div>
          }
          }
        </div>
      </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let request"> {{ request.createDateTime | date }} </td>
    </ng-container>



    <!--     <ng-container matColumnDef="updaterName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Updated By </th>
      <td mat-cell *matCellDef="let request">
        {{ request.updaterName }}
        <br />
        {{ request.lastUpdateDateTime | date }}
      </td>
    </ng-container> -->

    <ng-container matColumnDef="detail">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let request">
        <button (click)="show_more_request(selected_request, request)" class="ja-btn ja-btn-primary-sc">Show</button>
      </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> </th>
      <td mat-cell *matCellDef="let request">
        <button (click)="editFollowUpRequest(request.followUpRequestId)" class="ja-btn ja-btn-primary">Edit</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
      <td class="mat-cell" colspan="99">No data matching the filter "{{input.value}}"</td>
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[10, 25, 100, followUpRequests.length]"
    aria-label="Select page of requests"></mat-paginator>
</div>

<ng-template #selected_request>
  <header mat-dialog-title class="!flex gap-x-2 justify-start !mt-4">
      <img [src]="'https://privada.jovenesadelante.org/' + currentRequest?.photoUrl.substring(9)" alt=""
        class="h-16 rounded-md duration-300 student-photo">
      <h1 class="ja-big-title flex flex-col">
        Request for {{ currentRequest?.studentName }}
        <br class="h-0">
        <span class="text-slate-500 !text-sm">{{ currentRequest?.major }} | {{currentRequest?.universityAbbrev}}</span>
      </h1>
  </header>
  <div mat-dialog-content>
    <p>
      @if(spanish) {
      {{ currentRequest.updateHistory_Spanish }}
      } @else {
      {{ currentRequest.updateHistory_English }}
      }
    </p>
  </div>
  <div mat-dialog-actions align="end">
    <button [mat-dialog-close]="true" class="ja-btn ja-btn-primary-sc">Close</button>
  </div>
</ng-template>