<mat-tab-group dynamicHeight mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab #StudentProfile label="Student Profile">
    @defer (when StudentProfile.isActive) {}
    <app-admins-student-student-profile></app-admins-student-student-profile>
  </mat-tab>
  <!-- <mat-tab #StudentSummary label="Student Summary">
    @defer (when StudentSummary.isActive) {}
    <app-student-header></app-student-header>
  </mat-tab> -->
  <mat-tab #Member label="Member Data">
    @defer (when Member.isActive) {}
    <app-admins-student-member-profile></app-admins-student-member-profile>
  </mat-tab>
  <mat-tab #History label="History">
    @defer (when History.isActive) {}
    <app-student-history></app-student-history>
  </mat-tab>
  <mat-tab #Mentor label="Mentor Reports">
    @defer (when Mentor.isActive) {}
    <app-admins-student-mrs></app-admins-student-mrs>
  </mat-tab>
  <mat-tab #SSR label="SSR">
    @defer (when SSR.isActive) {}
    <app-admins-student-ssr></app-admins-student-ssr>
  </mat-tab>
  <mat-tab #Quarterly label="Quarterly Reports">
    @defer (when Quarterly.isActive) {}
    <app-admins-student-qrs></app-admins-student-qrs>
  </mat-tab>
</mat-tab-group>
<!-- 
<div class="container mx-auto px-4">
  <div class="flex flex-col">
    <div class="flex flex-wrap border-b space-x-4">
      <button
        class="py-2 px-4 border-b-2"
        [ngClass]="{
          'border-blue-500 text-blue-500 font-semibold': twcss_activeTab === 'profile',
          'border-transparent text-gray-500 hover:text-blue-500': twcss_activeTab !== 'profile'
        }"
        (click)="twcss_activeTab = 'profile'">
        Student Profile
      </button>

      <button
        class="py-2 px-4 border-b-2"
        [ngClass]="{
          'border-blue-500 text-blue-500 font-semibold': twcss_activeTab === 'summary',
          'border-transparent text-gray-500 hover:text-blue-500': twcss_activeTab !== 'summary'
        }"
        (click)="twcss_activeTab = 'summary'">
        Student Summary
      </button>

      <button
        class="py-2 px-4 border-b-2"
        [ngClass]="{
          'border-blue-500 text-blue-500 font-semibold': twcss_activeTab === 'member',
          'border-transparent text-gray-500 hover:text-blue-500': twcss_activeTab !== 'member'
        }"
        (click)="twcss_activeTab = 'member'">
        Member Data
      </button>

      <button
        class="py-2 px-4 border-b-2"
        [ngClass]="{
          'border-blue-500 text-blue-500 font-semibold': twcss_activeTab === 'history',
          'border-transparent text-gray-500 hover:text-blue-500': twcss_activeTab !== 'history'
        }"
        (click)="twcss_activeTab = 'history'">
        History
      </button>

      <button
        class="py-2 px-4 border-b-2"
        [ngClass]="{
          'border-blue-500 text-blue-500 font-semibold': twcss_activeTab === 'mrs',
          'border-transparent text-gray-500 hover:text-blue-500': twcss_activeTab !== 'mrs'
        }"
        (click)="twcss_activeTab = 'mrs'">
        Mentor Reports
      </button>

      <button
        class="py-2 px-4 border-b-2"
        [ngClass]="{
          'border-blue-500 text-blue-500 font-semibold': twcss_activeTab === 'ssr',
          'border-transparent text-gray-500 hover:text-blue-500': twcss_activeTab !== 'ssr'
        }"
        (click)="twcss_activeTab = 'ssr'">
        SSR
      </button>

      <button
        class="py-2 px-4 border-b-2"
        [ngClass]="{
          'border-blue-500 text-blue-500 font-semibold': twcss_activeTab === 'qrs',
          'border-transparent text-gray-500 hover:text-blue-500': twcss_activeTab !== 'qrs'
        }"
        (click)="twcss_activeTab = 'qrs'">
        Quarterly Reports
      </button>
    </div>

    <div class="mt-4">
      <div *ngIf="twcss_activeTab === 'profile'">
        <app-admins-student-student-profile></app-admins-student-student-profile>
      </div>
      <div *ngIf="twcss_activeTab === 'summary'">
        <app-student-header></app-student-header>
      </div>
      <div *ngIf="twcss_activeTab === 'member'">
        <app-admins-student-member-profile></app-admins-student-member-profile>
      </div>
      <div *ngIf="twcss_activeTab === 'history'">
        <app-student-history></app-student-history>
      </div>
      <div *ngIf="twcss_activeTab === 'mrs'">
        <app-admins-student-mrs></app-admins-student-mrs>
      </div>
      <div *ngIf="twcss_activeTab === 'ssr'">
        <app-admins-student-ssr></app-admins-student-ssr>
      </div>
      <div *ngIf="twcss_activeTab === 'qrs'">
        <app-admins-student-qrs></app-admins-student-qrs>
      </div>
    </div>
  </div>
</div>
 -->
<!-- <div class="col">
  <div class="row">

    <nav ngbNav #nav1="ngbNav" class="nav-tabs">
      <ng-container ngbNavItem>
        <a ngbNavLink>Student Profile</a>
        <ng-template ngbNavContent>
          <app-admins-student-student-profile>
          </app-admins-student-student-profile>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Student Summary</a>
        <ng-template ngbNavContent>
          <app-student-header>
          </app-student-header>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Member Data</a>
        <ng-template ngbNavContent>
          <app-admins-student-member-profile>
          </app-admins-student-member-profile>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>History</a>
        <ng-template ngbNavContent>
          <app-student-history>
          </app-student-history>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>Mentor Reports</a>
        <ng-template ngbNavContent>
          <app-admins-student-mrs>
          </app-admins-student-mrs>
        </ng-template>
      </ng-container>

      <ng-container ngbNavItem>
        <a ngbNavLink>SSR</a>
        <ng-template ngbNavContent>
          <app-admins-student-ssr>
          </app-admins-student-ssr>
        </ng-template>
      </ng-container>
      <ng-container ngbNavItem>
        <a ngbNavLink>Quarterly Reports</a>
        <ng-template ngbNavContent>
          <app-admins-student-qrs>
          </app-admins-student-qrs>
        </ng-template>
      </ng-container>
    </nav>
    <div [ngbNavOutlet]="nav1" class="mt-2"></div>
  </div>
</div> -->