@if (errorMessage) {
  <div class="alert alert-danger">{{errorMessage}}</div>
}
@if (!errorMessage) {
  <div>
    <style>
      .btn-group-xs>.btn,
      .btn-xs {
      padding: .0rem .1rem;
      font-size: .875rem;
      line-height: .3;
      border-radius: .2rem;
    }
  </style>
  <table class="table table-condensed">
    <thead>
      <tr>
        <th>Current SponsorGroup Member(s)</th>
      </tr>
    </thead>
    <tbody>
      @for (item of sponsorGroupMembers; track item; let i = $index) {
        <tr
          id="item.sponsorGroupMemberId">
          <td>
            @if (item.sponsorGroupMemberName) {
              <div>
                <span class="link" title="Delete"
                  (click)="deleteSponsorGroupMember(item.sponsorGroupId, item.sponsorGroupMemberId)">
                  <b>✖</b>
                </span>&nbsp; {{item.sponsorGroupMemberName}}
              </div>
            }
            @if (!item.sponsorGroupMemberName) {
              <div>
                (no member assigned currently)
              </div>
            }
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
}