@if (errorMessage) {
  <div class="alert alert-warning">{{errorMessage}}</div>
}
@if (!errorMessage) {
  <div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Student Name</th>
          <!--<th>Email</th>-->
          <!-- <th>Meeting Status</th>
          <th>Report Status</th> -->
        </tr>
      </thead>
      <tbody>
        @for (item of students; track item; let i = $index) {
          <tr
            [ngClass]="setRowClasses(item.studentGUId)"
            id="item.studentId"
            (click)='selectStudent(item.studentGUId, i)'>
            <td>{{item.studentName}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}