<div class="flex flex-wrap gap-4 justify-center ja-bg-white p-4 rounded-xl">
    <div class="w-full flex justify-between items-center gap-x-4">
        <h1 class="ja-big-title">Student Self Reports</h1>

        <app-ssr-status-counts [yearPeriod]="selectedQRPeriod"> </app-ssr-status-counts>
    </div>

    <div class="card-body bg-white">
        @if (errorMessage) {
        <span class="alert alert-danger">{{ errorMessage }}</span>
        }
        @if (successMessage) {
        <span class="alert alert-success">{{ successMessage }}</span>
        }

        <div>
            @switch (isLoading) {
            @case (true) {
            <div class="text-center col-md-4 col-md-offset-4">
                <app-loading-container> </app-loading-container>
            </div>
            }
            @case (false) {
            <div class="flex justify-start md:justify-between gap-x-4 items-start">
                <mat-form-field appearance="outline" class="w-full">
                    <mat-label>Find</mat-label>
                    <input matInput (keyup)="applyFilter($event)" #input>
                </mat-form-field>

                <div class="flex gap-x-2 items-center justify-start md:justify-end w-full">
                    <span class="text-tertiary font-medium">Report for Quarter</span>
                    <mat-form-field class="simple" appareance="outline">
                        <mat-select data-cy="period-selector" [(ngModel)]="selectedQRPeriod" #year_period
                            (selectionChange)="setSelectedQRPeriod(year_period.value)">
                            @for (yearPeriod of qrPeriods; track yearPeriod) {
                            <mat-option class="simple" [value]="yearPeriod.value">{{ yearPeriod.label }}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            

            <table mat-table [dataSource]="dataSource" multiTemplateDataRows matSort>

                <ng-container matColumnDef="studentName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Student </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="flex gap-x-2 items-center cursor-pointer">
                            <img [src]="'https://privada.jovenesadelante.org/' + row?.photoUrl.substring(9)" alt=""
                                class="h-10 rounded-md duration-300 student-photo">
                            <span (click)="gotoStudent(row.studentGUId, row.studentName)"
                                class="text-primary font-medium !capitalize hover:underline duration-300">
                                {{ row?.studentName }}
                                <br class="h-0">
                                <span class="text-slate-500 !text-xs">{{ row?.major }} | {{row.universityAbbrev}}</span>
                            </span>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="sponsorName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Sponsor </th>
                    <td mat-cell *matCellDef="let row">
                        <span class="text-secondary">{{ row?.sponsorGroupName }}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                    <td mat-cell *matCellDef="let row">
                        <div class="flex justify-start">
                            <div class="px-2 py-1 rounded-md flex gap-x-2 items-center bg-blue-100"
                                [ngClass]="row.reviewedStatus == 'COPIED_TO_QR' ? 'bg-blue-100 text-blue-600' : row.reviewedStatus == 'READY_FOR_QR' ? 'bg-green-100 text-green-600' : row.reviewedStatus == 'NEEDS_REVIEW' ? 'bg-orange-100 text-orange-600' : row.reviewedStatus == 'ON_HOLD' ? 'bg-yellow-100 text-yellow-600' : 'bg-gray-100 text-gray-600'">
                                @if(row.reviewedStatus == 'COPIED_TO_QR') {
                                <hugeicons-icon [icon]="DocumentValidationFreeIcons" [size]="24" color="#2563eb"
                                    [strokeWidth]="1.5"></hugeicons-icon>
                                } @else if(row.reviewedStatus == 'READY_FOR_QR'){
                                <hugeicons-icon [icon]="Rocket01FreeIcons" [size]="24" color="#16a34a"
                                    [strokeWidth]="1.5"></hugeicons-icon>
                                } @else if (row.reviewedStatus == 'NEEDS_REVIEW') {
                                <hugeicons-icon [icon]="Alert02FreeIcons" [size]="24" color="#ea580c"
                                    [strokeWidth]="1.5"></hugeicons-icon>
                                } @else if (row.reviewedStatus == 'ON_HOLD') {
                                <hugeicons-icon [icon]="Hold01FreeIcons" [size]="24" color="#ca8a04"
                                    [strokeWidth]="1.5"></hugeicons-icon>
                                } @else {}
                                {{ row.reviewedStatus  | remove:'_'}}
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="expand row"
                            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()"
                            [ngClass]="expandedElement === element ? 'rotate-180' : ''" class="duration-300">
                            <hugeicons-icon [icon]="ArrowDown01FreeIcons" [size]="24" color="#1c94a4"
                                [strokeWidth]="1.5"></hugeicons-icon>
                        </button>
                    </td>
                </ng-container>

                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" colspan="4"
                        [ngClass]="element == expandedElement ? 'h-auto opacity-100 !bg-white !py-4' : 'h-0 max-h-0 opacity-0'"
                        class="overflow-hidden duration-300">
                        <div class="flex flex-col gap-y-2"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="flex gap-x-2 items-center justify-end pr-[3.33%]">
                                <span>
                                    <span class="font-medium">Submitted Date:</span>
                                    {{ element?.reportDateTime | date }}
                                </span>
                                <button class="ja-btn ja-btn-primary"
                                    (click)="updateSSRTracking(element.studentSelfReportId, element.studentGUId, element.studentName)">
                                    Review
                                </button>
                            </div>

                            <div [innerHTML]="element?.narrative_Spanish"></div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="columnsToDisplayWithExpand"></tr>
                <tr mat-row *matRowDef="let element; columns: columnsToDisplayWithExpand;"
                    [ngClass]="expandedElement === element ? '!border-b-0 hover:bg-slate-50 active:bg-slate-100' : ''"
                    (click)="expandedElement = expandedElement === element ? null : element">
                </tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="!h-0"></tr>
            </table>

            <mat-paginator [pageSizeOptions]="[10, 25, 100]" aria-label="Select page of users"></mat-paginator>


            <div>
                <!-- 
        <div class="flex flex-col gap-y-2 shadow-xl p-4" id="{{ 'id' + ssr.studentSelfReportId }}">
          <div class="flex gap-x-4">
            <button (click)="updateSSRTracking(ssr.studentSelfReportId, ssr.studentGUId, ssr.studentName)"
              class="ja-btn ja-btn-primary">Review</button>
            <span (click)="gotoStudent(ssr.studentGUId, ssr.studentName)">{{ ssr.studentName }}</span>
            <span>{{ ssr.sponsorGroupName }}</span>
          </div>
        </div>
        <div class="row" style="border-bottom: 3px solid #ccc; margin-top: 2px">
          <div class="col-md-12">
            <div class="row mx-auto" id="{{ 'id' + ssr.studentSelfReportId }}">
              <button class="btn default-btn btn-primary btn-sm"
                (click)="updateSSRTracking(ssr.studentSelfReportId, ssr.studentGUId, ssr.studentName)">
                Review
              </button>
              &nbsp;
              <span (click)="gotoStudent(ssr.studentGUId, ssr.studentName)" class="padded link">
                [Student:
                {{ ssr.studentName }} ]
              </span>
              <span class="padded">
                [Sponsor:
                {{ ssr.sponsorGroupName }} ]
              </span>
              <div>
                <div class="padded col-md2">
                  <span class="padded"> &nbsp;Reviewed Status: {{ ssr.reviewedStatus }} </span>
                </div>
                <span class="padded col-md2">
                  Submitted Date:
                  {{ ssr.reportDateTime | truncateDate }}
                </span>
                <div [hidden]="!displayOriginalFields">
                  <div class="col-md2 padded">Description (Spanish)</div>
                  <div class="col-md-10" [innerHTML]="ssr.narrative_Spanish"></div>
                </div>
              </div>
            </div>
          </div>
        </div> -->


            </div>
            }
            }
        </div>
    </div>