/* .green-row {background-color: #dff0d8;}
.red-row {background-color: lightpink;}


.checkboxes input {
  vertical-align: middle;
  padding-left: 3em;
}
.checkboxes label span {
  vertical-align: middle;
}
.green-row {background-color: #dff0d8;}
.red-row {background-color: lightpink;}


.checkboxes input {
  vertical-align: middle;
  padding-left: 3em;
}
.checkboxes label span {
  vertical-align: middle;
}
.green-row {background-color: #dff0d8;}
.red-row {background-color: lightpink;}


.checkboxes input {
  vertical-align: middle;
  padding-left: 3em;
}
.checkboxes label span {
  vertical-align: middle;
}
.green-row {background-color: #dff0d8;}
.red-row {background-color: lightpink;}


.checkboxes input {
  vertical-align: middle;
  padding-left: 3em;
}
.checkboxes label span {
  vertical-align: middle;
}
 */

::ng-deep {

  .mat-expanded {
    @apply bg-primary/10 rounded-xl;

    .student-photo {
      @apply h-14;
    }
  }

  .simple .mat-mdc-form-field-subscript-wrapper {
    display: none !important;
  }
}