<div class="flex flex-col gap-4 justify-center ja-bg-white p-4 rounded-2xl">
  <h1 class="ja-big-title inline"> {{ myForm.value.sponsorGroupName }}</h1>

  @if (errorMessage) {
  <span class="alert alert-danger">{{ errorMessage }}</span>
  }
  @if (successMessage) {
  <span class="alert alert-success">{{ successMessage }}</span>
  }
  @if (isLoading) {
  <app-loading-container> </app-loading-container>
  } @else {
  <form [formGroup]="myForm" class="flex flex-col md:flex-row gap-4">
    <div class="flex flex-col min-w-96">
      <button class="ja-btn ja-btn-primary-sc mb-auto mr-auto" (click)="location.back()">
        Back
      </button>

      <mat-form-field appearance="outline" class="mt-4">
        <mat-label>ID</mat-label>
        <input type="text" matInput formControlName="sponsorGroupId" readonly>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Sponsor Group Name</mat-label>
        <input type="text" matInput formControlName="sponsorGroupName">
      </mat-form-field>

      <button class="ja-btn ja-btn-primary" (click)="saveSponsorGroup()">
        Save Name Change
      </button>
    </div>
    <div class="flex flex-col min-w-96">
      <app-sponsor-group-members [sponsorGroupId]="sponsorGroupId" [newMemberNotification]="newMemberMessage">
      </app-sponsor-group-members>
      <app-sponsor-group-member-edit [sponsorGroupId]="sponsorGroupId"
        (onSelectedMember)="receiveSelectedMemberEvent($event)">>
      </app-sponsor-group-member-edit>
    </div>
    @if(students_for_sponsor_group.length){
    <div class="flex gap-4 justify-center flex-wrap">
      <h3 class="basis-full text-secondary font-semibold">SPONSORED STUDENTS</h3>
      @for(student of students_for_sponsor_group; track student) {
      <div (click)='gotoStudent(student.studentGUId, student.studentName)'
        class="w-32 rounded-2xl shadow-md p-2 flex flex-col items-center cursor-pointer relative hover:shadow-primary/50 duration-300">
        <img [src]="'https://privada.jovenesadelante.org/' + student.photoURL?.substring(9)" alt=""
          class="w-full aspect-v-photo object-cover rounded-lg">
        <h4 class="text-primary font-semibold text-sm leading-4 text-center">{{student.studentName}}</h4>
        <span class="text-slate-700 text-xs leading-3 text-center">{{student.studentStatus}}</span>
        @if (student.studentStatus == 'Grad') {
        <img src="/assets/images/svg/grad.svg" alt="" class="absolute -top-2 -right-2 rotate-45">
        }
        @if(student.studentMastersUniversityID) {
        <img src="/assets/images/svg/masters.svg" alt="" matTooltip="Graduate studies student"
          class="absolute -top-2 -left-2">
        }
      </div>
      }
    </div>
    }
  </form>
  }
</div>
<!-- 
@if (errorMessage) {
<div class="alert alert-danger">{{errorMessage}}</div>
}
@if (successMessage) {
<div class="alert alert-success">{{successMessage}}</div>
}
<div style="max-width:900px">

  <div>
    @switch (isLoading) {
    @case (true) {
    <div class="text-center col-md-4 col-md-offset-4">
      <app-loading-container>
      </app-loading-container>
    </div>
    }
    @case (false) {
    <div>
      <form [formGroup]="myForm" class="form-horizontal">
        <div class="row">
          <div class="col">
            <div class="form-group">
              <span class="btn btn-primary btn-sm" (click)="location.back()">
                &lt;&lt;&nbsp; Back
              </span>
              &nbsp;
            </div>
            <div class="form-group">
              <input id="sponsorGroupId" formControlName="sponsorGroupId" class="form-control form-control-sm"
                type="text" readonly />
              <label for="sponsorGroupName">SponsorGroup Name</label>
              <input id="sponsorGroupName" formControlName="sponsorGroupName" class="form-control form-control-sm"
                type="text" placeholder="SponsorGroup Name" />
            </div>
            <div class="form-group">
              <button class="btn btn-primary" (click)="saveSponsorGroup()">
                Save Name Change
              </button>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <app-sponsor-group-members [sponsorGroupId]="sponsorGroupId" [newMemberNotification]="newMemberMessage">
              </app-sponsor-group-members>
            </div>
            <div class="form-group">
              <app-sponsor-group-member-edit [sponsorGroupId]="sponsorGroupId"
                (onSelectedMember)="receiveSelectedMemberEvent($event)">>
              </app-sponsor-group-member-edit>
            </div>
          </div>
        </div>
      </form>
    </div>
    }
    }
  </div>
</div> -->