@if (errorMessage) {
  <div class="alert alert-danger">{{errorMessage}}</div>
}
@if (!errorMessage) {
  <div>
    <table class="table table-condensed">
      <thead>
        <tr>
          <th>Nombre(s) de Patrocinador</th>
        </tr>
      </thead>
      <tbody>
        @for (item of sponsors; track item; let i = $index) {
          <tr
            [ngClass]="setRowClasses(item.sponsorGroupId)"
            id="item.sponsorGroupMemberId"
            (click)='selectSponsor(item.sponsorGroupMemberId, i)'>
            <td>{{item.sponsorGroupMemberName}}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
}