<div class="flex flex-wrap gap-4 justify-center ja-bg-white p-4 rounded-xl">
  <div class="w-full flex justify-between items-center gap-x-4">
    <h1 class="ja-big-title">Requests</h1>
    <button (click)="followUpRequestAdd()" type="button" class="ja-btn ja-btn-primary">
      <hugeicons-icon [icon]="PlusSignIcon" [size]="24" color="currentColor" [strokeWidth]="1.5"></hugeicons-icon>
      Add New FollowUpRequest
    </button>
  </div>

  @if(isLoading) {
  <app-loading-container> </app-loading-container>
  }
  @else {
  <div class="flex gap-x-4 flex-wrap justify-start md:justify-between w-full">
    <div></div>
    <div class="flex gap-x-2">
      <span class="text-tertiary font-medium">Status</span>
      <mat-form-field class="simple no-hint">
        <mat-select [(ngModel)]="selectedActiveStatusId" (selectionChange)="setActiveStatus(activeStatus.value)"
          #activeStatus>
          <mat-option value="2092" class="simple">Open</mat-option>
          <mat-option value="2104" class="simple">Closed</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <app-follow-up-requests-list [followUpRequests]="followUpRequests" [selectedRequestStatusId]="2104"></app-follow-up-requests-list>
  }
</div>