<div class="flex flex-col gap-4 justify-center ja-bg-white p-4 rounded-2xl">
    <h1 class="ja-big-title inline"> {{ studentName }} | Quarterly Reports</h1>


    @if (isLoading) {
    <app-loading-container> </app-loading-container>
    } @else {
    <app-quarterly-container></app-quarterly-container>
    <!-- <div class="grid place-content-center ja-bg-white p-4 rounded-2xl">
          <button class="ja-btn ja-btn-primary" (click)="gotoQR()"> Go To Quarterly Reports for this student</button>
          <span class="ja-text-slate-700 text-sm">(Use browser back arrow to return here)</span>
      </div> -->
    }
</div>