<!-- <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
<div *ngIf="!errorMessage">
  <table class="table table-condensed">
    <thead>
      <tr>
        <th *ngIf=haveData>Sponsored Students / Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of studentsForSponsor, let i = index"
          id="item.studentGUId">
        <td (click)='gotoStudent(item.studentGUId, item.studentName)' class='link'>
          {{item.studentName}} / {{item.studentStatus}}
        </td>
      </tr>
    </tbody>
  </table>
</div>
 -->
@if(errorMessage) {
  <div *ngIf="errorMessage" class="alert alert-danger">{{errorMessage}}</div>
} @else {
  @if(haveData) {
    <div class="flex gap-4 justify-center flex-wrap">
      <h3 class="basis-full text-secondary font-semibold">SPONSORED STUDENTS</h3>
      @for(student of studentsForSponsor; track student) {
        <div (click)='gotoStudent(student.studentGUId, student.studentName)' class="w-32 rounded-2xl shadow-md p-2 flex flex-col items-center cursor-pointer relative hover:shadow-primary/50 duration-300">
          <img [src]="'https://privada.jovenesadelante.org/' + student.photoURL.substring(9)" alt="" class="w-full aspect-v-photo object-cover rounded-lg">
          <h4 class="text-primary font-semibold text-sm leading-4 text-center">{{student.studentName}}</h4>
          <span class="text-slate-700 text-xs leading-3 text-center">{{student.studentStatus}}</span>
          @if (student.studentStatus == 'Grad') {
            <img src="/assets/images/svg/grad.svg" alt="" class="absolute -top-2 -right-2 rotate-45">
          }
          @if(student.studentMastersUniversityID) {
            <img src="/assets/images/svg/masters.svg" alt="" matTooltip="Graduate studies student" class="absolute -top-2 -left-2">
          }
        </div>
      } 
    </div>
  }
}
