<div class="flex flex-col gap-4 justify-center ja-bg-white p-4 rounded-2xl">
  <div class="flex flex-wrap md:flex-no-wrap justify-start md:justify-between gap-4">
    <h1 class="ja-big-title inline"> Past Reports for {{ studentName }}</h1>
    <button (click)="createProxyReport()" class="ja-btn ja-btn-primary">
      Create Proxy Report
    </button>
  </div>

  @if (!errorMessage) {
  <span class="alert alert-danger">{{ errorMessage }}</span>
  }
  @if (isLoading) {
  <app-loading-container> </app-loading-container>
  } @else {
    <app-mentor-reports2-list [mentorReports2]="mentorReports2"></app-mentor-reports2-list>
  }
</div>

<!-- 
<div>&nbsp;</div>

@if (errorMessage) {
  <div class="alert alert-danger">
  {{errorMessage}}</div>
}

<div>
  @switch (isLoading) {
    @case (true) {
      <div class="text-center col-md-4 col-md-offset-4">
        <app-loading-container>
        </app-loading-container>
      </div>
    }
    @case (false) {
      <div>
        @if (!errorMessage) {
          <div class="card bg-primary">
            <div class="card-header text-white" style="font-size:large">
              <span>Past Reports for </span>
              <span>{{studentName}}</span>
              <span>
                <span class="btn btn-default active" (click)="createProxyReport()" style="margin: 4px 0 0 10px">
                  Create Proxy Report
                </span>
              </span>
            </div>
            <app-mentor-reports2-list [mentorReports2]="mentorReports2"></app-mentor-reports2-list>
          </div>
        }
      </div>
    }
  }
</div> -->